<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Python CPU</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body class="crt">
    <div class="title">=========== PYTHON CPU ===========</div>
    <div class="registers">
        <div>----------- REGISTERS -----------</div>
        <ul>
            <li>
                A:
                <span id="a">
                    0
                </span>
            </li>
            <li>
                B:
                <span id="b">
                    0
                </span>
            </li>
            <li>
                C:
                <span id="c">
                    0
                </span>
            </li>
            <li>
                D:
                <span id="d">
                    0
                </span>
            </li>
            <li>
                PC:
                <span id="pc">
                    0
                </span>
            </li>
            <li>
                IR:
                <span id="ir">
                    0
                </span>
            </li>
        </ul>
    </div>
    <div class="terminal">
        <div>------------- OUTPUT -------------</div>
        <ul class="output">
            <!-- AQUI INSERTAR EL OUTPUT COMO UN NUEVO LI -->
            <li class="pointer">█</li>
        </ul>
    </div>
  </body>
</html>